@using BookstoreProjectData.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav tm-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Client"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Orders" asp-action="GetCart"><img src="~/img/online-shopping.png" alt="Alternate Text" width="20" height="20" /></a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="~/img/user.png" alt="Alternate Text" width="20" height="20" /></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Logout"><img src="~/img/logout.png" alt="Alternate Text" width="20" height="20" /></a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="User" asp-action="Register" >Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
