@{
    ViewData["Title"] = "Home Page";

    //https://templatemo.com/live/templatemo_466_cafe_house
}

<section class="tm-welcome-section ">
    <div class="container tm-position-relative">

        <div class="row tm-welcome-content">
            <h2 class="white-text tm-handwriting-font tm-welcome-header"> Welcome To</h2>
            <h2 class="gold-text tm-welcome-header-2">Pink Sunrise</h2>
            <a class="btn btn-outline-light rounded-pill px-4 btn-sm" asp-action="Details" asp-controller="Home" method="post">About us</a>
        </div>
       
    </div>
</section>

<section class="container my-5">

    <div class="text-center mb-4">
        <h2 class="fw-bold">📦 This Month’s Picks</h2>
        <p class="text-muted">3 hand-picked books just for you</p>
    </div>

    <div class="row g-4 justify-content-center">
        @foreach (var book in Model.SubscriptionBooks)
        {
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card shadow-sm book-card position-relative" style="width: 100%; max-width: 220px;">
                    <span class="badge bg-danger position-absolute top-0 start-0 m-2">Monthly Pick</span>

                    <img src="@book.CoverImageUrl"
                         class="card-img-top"
                         style="height:180px; object-fit:cover;" />

                    <div class="card-body text-center p-2">
                        <h6 class="fw-bold mb-1">@book.Title</h6>
                        <p class="text-muted small mb-1">@book.AuthorName</p>
                        <p class="fw-semibold text-danger mb-0">@book.Price €</p>
                    </div>

                </div>
            </div>
        }
    </div>

    <div class="text-center mt-4">
        <a asp-controller="Subscription" asp-action="Index"
           class="btn btn-dark px-4 py-2 rounded-pill">
            View Subscription
        </a>
    </div>
</section>