@using BookstoreWebApp.Models.User;
@model UserLoginViewModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h1>Log in</h1>
<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" required />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RememberMe" class="form-check-label">Remember me?</label>
        <input asp-for="RememberMe" class="form-check-input" />
        <span asp-validation-for="RememberMe" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>